{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
<link rel="stylesheet" href="{% static 'css/about_us_style.css' %}">
{% endblock %}
{% block content %}
<div style="padding: 60px;" class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="aniText" style="text-align: center;">
                <h1>Le Caprice Restau</h1>
                <h4>Our Story</h4>
            </div>
            <hr style="width: 80%; margin-left: auto; margin-right: auto;">
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p class="aniText">
                    Le Caprice Restau, Le Caprice Restau Collection iconic London property, is situated at the heart of London’s Mayfair on Park Lane.

                    The hotel offers guests a selection of 250 suites and rooms including three penthouse suites, many affording expansive views of Hyde Park. Some of London’s top dining is available to guests at Le Caprice Restau including, three Michelin starred Alain Ducasse at Le Caprice Restau serving contemporary French cuisine. The hotel provides an unabashed celebration of opulence in décor, a level of service that is nearly telepathic, and food and wine that is gloriously over the top.
                </p>
            </div>
            <div class="col-md-6">
                <img class="left" src="{% static 'images/about1.jpg' %}">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6">
            <img class="right" src="{% static 'images/about2.jpg' %}" alt="Alain Ducasse">
            </div>
            <div class="col-md-6">
                <p  class="aniText">
                    “The produce is the only truth. A turbot without a stroke of genius will always rise above having genius without a turbot. A produce, grown with love and respect, has an incomparable flavour. Without it, a chef is nothing.” Alain Ducasse

                    Alain Ducasse is one of the world’s most decorated chefs, and above all, an aesthete and artisan of living and eating well. Known not only for his incomparable French cuisine, Alain Ducasse has created innovative dining experiences reflecting international influences, and consequently earned a reputation for phenomenal cuisine.
                </p>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <p  class="aniText">
                    Alain Ducasse at Le Caprice Restau is characterised by its elegant French contemporary haute-cuisine, with distinctive fresh flavours and executed with a light and surprising twist – reflecting its London location.

                    Alain Ducasse’s approach to cuisine is interpreted by a team led by the characterful style of Executive Chef Jean-Philippe Blondet. The technical brilliance of French cuisine – with a focus on the sauces – is brought to life through the finest seasonal produce, sourced at their peak, from British and French suppliers.

                    Signature dishes include the “Sauté gourmand” of lobster, truffled chicken quenelles and homemade pasta; the Dry aged beef, artichoke and bone marrow and the indulgent Baba like in ‘Monte-Carlo‘.
                </p>
            </div>
            <div class="col-md-6">
                <img class="left" src="{% static 'images/about3.jpg' %}">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="right" src="{% static 'images/about4.jpg' %}">
            </div>
            <div class="col-md-6">
                <p class="aniText">
                    Designed by duo Jouin Manku, who collaborated on Ducasse Paris projects in Paris, Monaco and Las Vegas, the restaurant draws inspiration from the greenery of Hyde Park nearby and the fashion flair of Mayfair, succeeding in merging tradition with modernity.

                    The dining room is contemporary, soft and elegant, showcasing the unadorned beauty of natural materials such as leather, wood and fabrics to an amazing effect. Reminiscent of an informal English garden, the interior presents a bold, luxurious palette of green and charcoal grey, set against carefully considered atmospheric lighting and the delicate materiality of luminous brass highlights.

                    The design also includes quirky elements such as walls studded with thousands of silk buttons in different shades of green.

                    The jewel of the restaurant is the stunning ‘Table Lumière’, a semi-private room surrounded by 4,500 shimmering fibre optics dropping dramatically from the ceiling, resulting in a striking structural masterpiece, and adorned with specially selected sets of Hermès china, Puiforcat silverware and Saint-Louis crystal for a bespoke table setting.
                </p>
            </div>
        </div>

        <br>

        <br>
        <div class="row">
            <div class="col-md-6">
                <p class="aniText">
                    Designed by duo Jouin Manku, who collaborated on Ducasse Paris projects in Paris, Monaco and Las Vegas, the restaurant draws inspiration from the greenery of Hyde Park nearby and the fashion flair of Mayfair, succeeding in merging tradition with modernity.

                    The dining room is contemporary, soft and elegant, showcasing the unadorned beauty of natural materials such as leather, wood and fabrics to an amazing effect. Reminiscent of an informal English garden, the interior presents a bold, luxurious palette of green and charcoal grey, set against carefully considered atmospheric lighting and the delicate materiality of luminous brass highlights.

                    The design also includes quirky elements such as walls studded with thousands of silk buttons in different shades of green.

                    The jewel of the restaurant is the stunning ‘Table Lumière’, a semi-private room surrounded by 4,500 shimmering fibre optics dropping dramatically from the ceiling, resulting in a striking structural masterpiece, and adorned with specially selected sets of Hermès china, Puiforcat silverware and Saint-Louis crystal for a bespoke table setting.
                </p>
            </div>
            <div class="col-md-6">
                <img class="left" src="{% static 'images/about5.jpg' %}">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="right" src="{% static 'images/about6.jpg' %}">
            </div>
            <div class="col-md-6">
                <p class="aniText">
                    Le Caprice Restau, Le Caprice Restau Collection iconic London property, is situated at the heart of London’s Mayfair on Park Lane.

                    The hotel offers guests a selection of 250 suites and rooms including three penthouse suites, many affording expansive views of Hyde Park. Some of London’s top dining is available to guests at Le Caprice Restau including, three Michelin starred Alain Ducasse at Le Caprice Restau serving contemporary French cuisine. The hotel provides an unabashed celebration of opulence in décor, a level of service that is nearly telepathic, and food and wine that is gloriously over the top.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
<script src="{% static 'js/about_us_script.js' %}" defer></script>
{% endblock %}