{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    {% block extra-css%}
    {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.15.0/js/all.js"></script>
    <title></title>
</head>
<body>
<div id="wrapper">
    <div id="navbar">
    </div>
    <!--When / if changed back into logo, alter top in css
    <h1 id="logo">Company Logo</h1>-->
    <div id="main">
        <div id="navlist" class="notVisibleList" style="padding-top: 5%;">
            <h1><a href="{% url 'index' %}">Home</a></h1>
            <h1><a href="{% url 'menu_home' %}">Menu</a></h1>
            <h1><a href="{% url 'reservations_home' %}">Reservations</a></h1>
            <h1><a href="{% url 'locations' %}">Locations</a></h1>
            <h1><a href="{% url 'contact' %}">Contact</a></h1>
        </div>
    </div>
    <div id="menu">
        <a class="filldiv" href="#"></a>
        <div id="m1"></div>
        <div id="m2"></div>
        <div id="m3"></div>
    </div>
</div>
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'js/base_script.js' %}"></script>
{% block extraJS %}
{% endblock %}
</body>
</html>