{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
<link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="navbar">
    </div>
    <!--When / if changed back into logo, alter top in css
    <h1 id="logo">Company Logo</h1>-->
    <div id="main">
        <div id="navlist" class="notVisibleList" style="padding-top: 5%;">
            <h1><a href="https://www.youtube.com/">Home</a></h1>
            <h1><a href="https://www.youtube.com/">Menu</a></h1>
            <h1><a href="https://www.youtube.com/">Reservations</a></h1>
            <h1><a href="https://www.youtube.com/">Locations</a></h1>
            <h1><a href="https://www.youtube.com/">Contact</a></h1>
        </div>
    </div>
    <div id="menu">
        <a class="filldiv" href="#"></a>
        <div id="m1"></div>
        <div id="m2"></div>
        <div id="m3"></div>
    </div>
</div>
<div style="background-color: black;">
    <div class="banner">
        <div style="height: 100vh;">
            <div class="center">
                <h1 style="font-size: 60px;">Generic Restaurant Name</h1>
                <a href="https://www.youtube.com/" class="btn btn-primary">Did it work?</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h1>Next Section</h1>
            <img src="pic1.jpg" class="img-fluid">
            <br>
            <br>
        </div>
        <div class="col-lg-6">
            <h1 style="text-align: center">Other Section</h1>
            <p>akfga aiufbaifu basufbasi aiufbai abfiaf uasfiua uaifgia
                iahsfbai biuafbi ebafiyb aebfisb bfasiyf bafiyb biufbsai bfaiuy
                oihaav ubasiu jab iusaf aiubf aiusbf iaubf iausbs aisbd iaufaib
                iahb iuabf iusbsf abiii oiaqjdb qejbn iahf iohduhq ihqef</p>
            <a href="https://www.youtube.com/" class="btn btn-primary">Did it work?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1 style="text-align: center">Other Section</h1>
            <p>akfga aiufbaifu basufbasi aiufbai abfiaf uasfiua uaifgia
                iahsfbai biuafbi ebafiyb aebfisb bfasiyf bafiyb biufbsai bfaiuy
                oihaav ubasiu jab iusaf aiubf aiusbf iaubf iausbs aisbd iaufaib
                iahb iuabf iusbsf abiii oiaqjdb qejbn iahf iohduhq ihqef</p>
            <a href="https://www.youtube.com/" class="btn btn-primary">Did it work?</a>
        </div>
        <div class="col-lg-6">
            <h1>Next Section</h1>
            <img src="pic1.jpg" class="img-fluid">
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>Next Section</h1>
            <img src="pic1.jpg" class="img-fluid">
            <br>
            <br>
        </div>
        <div class="col-lg-6">
            <h1 style="text-align: center">Other Section</h1>
            <p>akfga aiufbaifu basufbasi aiufbai abfiaf uasfiua uaifgia
                iahsfbai biuafbi ebafiyb aebfisb bfasiyf bafiyb biufbsai bfaiuy
                oihaav ubasiu jab iusaf aiubf aiusbf iaubf iausbs aisbd iaufaib
                iahb iuabf iusbsf abiii oiaqjdb qejbn iahf iohduhq ihqef</p>
            <a href="https://www.youtube.com/" class="btn btn-primary">Did it work?</a>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
    <script src="{% static 'js/index_script.js' %}"></script>
{% endblock %}