{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
{% endblock %}
{% block content %}
<div style="padding-top: 64px;" >
</div>
<div class="container-fluid">
</div>
<div class="container-fluid">
    <h1>Reservations</h1>
    <!--
    <form method="post" style="text-align: center">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit">Send</button>
        </div>
    </form>-->
    <p></p>
    <img src="{% static 'images/2-seats.png' %}" width="52px">
    <img src="{% static 'images/4-seats.png' %}" width="100px">
    <img src="{% static 'images/6-seats.png' %}" width="125px">
    <img src="{% static 'images/8-seats.png' %}" width="190px">


</div>
{% endblock %}