{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
<link rel="stylesheet" href="{% static 'css/reservations_home_style.css' %}">
{% endblock %}
{% block content %}
<div class="main-container" style="padding-top: 64px; padding-bottom: 64px;">
    <div style="box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px; width: 80%; margin-left: auto; margin-right: auto; border-radius: 10px; padding-top: 30px;">
        <i class="far fa-check-circle" style="color: teal; font-size: 120px; text-align: center; display: inline-block; width: 100%;margin-bottom: 20px;"></i>
        <h1>Your booking has been confirmed!</h1>
        <div style="text-align: center;padding-bottom: 30px; margin: 20px;">
            <p>You should receive an email soon containing your reservation details.
                We look forward to seeing you soon, and hope that you enjoy your experience
                at Restaurant Name.
            </p>
            <a href="{% url 'index' %}" class="btn btn-success">Return to Homepage</a>
        </div>

        </div>
    </div>
</div>
{% endblock %}