
.main-container{
    font-family: Candara;
}
p{
}
img{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.right{
    opacity: 0;
    transition: opacity 1s;
}
.left{
    opacity: 0;
    transition: opacity, 1s;
}
.aniText{
    opacity: 0;
    transition: opacity 1s;
}

.right.animate{
    opacity: 1;

}
.left.animate{
    opacity: 1;
}
.aniText.animate{
    opacity: 1;
    /*
    animation-duration: 0.5s;
    animation-name: slidein;*/
}

/*
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}*/