#main-form form{
    color: black;
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(59, 116, 135, 0.3);
    padding: 40px;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
body{
    background-color: whitesmoke !important;
}
.custom-btn {
    display: inline-block;
    text-align: center;
    border: 2px solid #436981;
    padding: 5px 25px 5px 25px;
    color: black;
    text-decoration: none;
    font-weight: lighter;
    background-color: rgba(67, 105, 129, 0.2);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.custom-btn:hover {
    background-color: #436981;
    color: white;
    text-decoration: none;
}
