.col-lg-6{
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#main-info{
    padding-bottom: 40px;
}
.col-lg-6{
    margin-top: 30px;
}
#main-info img{
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.center button{
    text-decoration: none;
    color: white;
    font-size: 32px;
    transition: 0.7s;
    border:none;
    background-color: rgba(0,0,0,0);
}
.center button:hover{
    font-size: 50px;
}

.fade-on-scroll{
    opacity: 0;
    transition: opacity 1s;
}
.fade-on-scroll.animate{
    opacity: 1;
}

.custom-btn {
    display: inline-block;
    text-align: center;
    border: 2px solid #474747;
    padding: 7px;
    color: black;
    text-decoration: none;
    font-weight: lighter;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.custom-btn:hover {
    background-color: #474747;
    color: white;
    text-decoration: none;
}
