*{
    margin:0;
    padding: 0;
}
.cat-banner{
    z-index: 1;
    opacity: 1;
    background-size: cover;
    position: relative;
    /*background-image:linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ), url('https://media.timeout.com/images/103122427/image.jpg');*/
    background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
    background-repeat:no-repeat;
}