*{
    margin:0;
    padding: 0;
}
.cat-banner{
    z-index: 1;
    opacity: 1;
    background-size: cover;
    position: relative;
    background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
    background-repeat:no-repeat;
    transition: 300ms;
}
.cat-banner:hover {
    transform: scale(1.05);
    transition: 300ms;
}