{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
<link rel="stylesheet" href="{% static 'css/menu_home_style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid p-0">
{% for x in menu %}
    <!--<p>{{x}}</p>-->
    <div style="background-color: black;">
        <div class="cat-banner" style="background-image:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url({{x.displayImage.url}});">
            <a href="{% url 'menu' x.slug %}">
            <div style="height: calc(100vh / 3);">
                <div class="center">
                    <h1>{{x.name}}</h1>
                </div>
            </div>
            </a>
        </div>
    </div>
    <!--<ul>
    {% for z in x.sections.all %}
        <li>{{z}}</li>
        <ul>
            {% for y in z.items.all %}
            <li>{{y.name}} - {{y.description}} £({{y.price}})</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>-->
{% endfor %}
</div>
{% endblock %}